{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Profile | {{ super() }}{% endblock %}

{% block content %}
    <main class="container mt-3">
        <section class="row">
            <div class="col-12 col-lg-8">
                <h1 class="h3 my-5">Личный кабинет. Заказы</h1>
                {{ pagination.links }}
                {% for order in orders %}
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-baseline">
                                <span class="h5 font-weight-bold">{{ order.date|format_date }}</span>
                                <span class="h5">{{ order.total|rubles|safe }}</span>
                            </li>
                        </ul>
                        <div class="card-body">
                            <div class="row">
                                {% for position in order.positions %}
                                    <p class="col-6 text-muted">{{ position.meal.title }}</p>
                                    <p class="col-2 text-muted">{{ position.amount }}</p>
                                    <p class="col-4 text-muted">{{ position.meal.price|rubles|safe }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer bg-transparent font-weight-bold d-flex justify-content-end">
                            <span>Статус: {{ order.status.value|lower }}</span>
                        </div>
                    </div>
                {% endfor %}
                {{ pagination.links }}
            </div>
        </section>
    </main>
    {{ macros.render_footer() }}
{% endblock %}
