{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Bin | {{ super() }}{% endblock %}

{% block content %}
    <main class="container">
        <h1 class="h3 my-4">Корзина</h1>
        {{ macros.render_cart_messages(form) }}

        {% if not current_user.is_authenticated %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Чтобы сделать заказ &ndash; <a href="{{ url_for('auth.login') }}">войдите</a>
                или <a href="{{ url_for('auth.register') }}">зарегистрируйтесь</a>
            </div>
        {% endif %}

        <div class="row mt-5">
            <div class="col-4">
                <form action="{{ url_for('main.render_cart') }}" method="POST">
                    {{ form.csrf_token(class_="form-control") }}
                    {{ form.order_cart(class_="form-control", value=cart|compress) }}
                    {{ form.order_total(class_="form-control", value=cart|total|string) }}
                    <h4 class="">Ваши данные</h4>
                    <div class=" md-4 order-md-1">
                        <div class="mt-3 mb-3">
                            {{ form.name.label }}
                            {{ form.name(class_="font-weight-bold form-control") }}
                        </div>
                    </div>
                    <div class=" md-4 order-md-1">
                        <div class="mt-3 mb-3">
                            {{ form.address.label }}
                            {{ form.address(class_="font-weight-bold form-control") }}
                        </div>
                    </div>
                    <div class=" md-4 order-md-1">
                        <div class="mt-3 mb-3">
                            {{ form.email.label }}
                            {% if current_user.is_authenticated %}
                                {{ form.email(class_="font-weight-bold form-control", value=current_user.email, autofocus=True) }}
                            {% else %}
                                {{ form.email(class_="font-weight-bold form-control", autofocus=True) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class=" md-4 order-md-1">
                        <div class="mt-3 mb-3">
                            {{ form.phone.label }}
                            {{ form.phone(class_="font-weight-bold form-control") }}
                        </div>
                    </div>
                    {% if current_user.is_authenticated and cart|length > 0 %}
                        {{ form.submit(class_="mt-3 mb-5 btn btn-danger") }}
                    {% endif %}
                </form>
            </div>

            <div class="col-1"></div>
            <div class="col-7">
                {% if cart|length > 0 %}
                    <h4 class="mb-3 col-7 mb-5">{{ cart|length|dishes }} в корзине</h4>
                    <table class="table">
                        {% for item in cart %}
                            <tr>
                                <td class="w-50 text-left">{{ item.title }}</td>
                                <td class="text-right">{{ item.price|rubles|safe }}</td>
                                <td class="text-right">{{ item.amount }}</td>
                                <td class="text-right">{{ (item.price * item.amount)|rubles|safe }}</td>
                                <td><a class="text-danger text-center" href="#">Удалить</a></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="w-50 text-info text-left">Итого:</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="text-info text-right">{{ cart|total|rubles|safe }}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                {% else %}
                    <h4 class="mb-3 col-7 mb-5 text-danger">Корзина пуста</h4>
                {% endif %}
            </div>
        </div>
    </main>
    {{ macros.render_footer() }}
{% endblock %}
