{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/styles.css', _external=True) }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <main class="container mt-3">
        {{ macros.render_advertising() }}
        {% for category, meals in categorized.items() %}
            <section>
                <a href="{{ url_for('main.render_category', id=category.id) }}" class="h3 my-4" style="text-decoration: none !important;">{{ category.title }}</a>
                {{ macros.render_meals(meals) }}
            </section>
        {% endfor %}
    </main>
{% endblock %}
